body {
    background-color: #f4f4f4;
}
.main {
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 20px 85px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}
.logo {
    max-width: 68px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.searchAndAbout {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.aboutProject,
.fa-search {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    color: #8F68A8;
    cursor: pointer;
}
.search {
    display: none;
    width: 100%;
    height: 92px;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 50px;
    outline: none;
    padding-left: 50%;
}
.searchActive {
    display: block;
}
.none {
    display: none;
}
.fa-times {
    display: none;
    color: #8F68A8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 30px;
}
.tagsBlock {
    margin-top: 50px;
}
.tags {
    color: #8F68A8;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
}
.tags-list {
    max-width: 1300px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: none;
    margin-top: 50px;
}
.tag-active {
    display: flex;
}
.tagg {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: #8F68A8;
    margin-right: 10px;
}
.projectBlocks {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
}
.project-block {
    max-width: 330px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.project-name {
    color: #405089;
    max-width: 133px;
    width: 100%;
    margin: 0 auto 20px;
}
.project-img {
    max-width: 330px;
    width: 100%;
    height: auto;
}
.image {
    width: 100%;
}
.author {
    color: #405089;
    margin-bottom: 15px;
}
.dates {
    color: #BCBABA;
}
.footer {
    max-width: 1420px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
}
.icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fa-phone-alt,
.fa-envelope,
.fa-map-marker-alt,
.fa-facebook-f {
    background-color: #8F68A8;
    padding: 10px;
    border-radius: 50px;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}
.PhoneNumber,
.maail {
    color: #405089;
    display: none;
    margin-left: 10px;
}
.footeractive {
    display: block;
}

/* about Project */
.aboutSection {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 100px 0;
}
.aboutH3 {
    color: #8F68A8;
    font-size: 25px;
}
.aboutParagraph {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #405089;
    font-family: 'Roboto', sans-serif;
}
/* slideer */
.slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    max-width: 1000px;
    width: 100%;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    border: none;
    background: transparent;
    color: blue;
    font-family: monospace;
    font-size: 5rem;
    z-index: 300;
    outline: none;
}
.slick-prev {
    left: -50px;
    text-align: left;
}
.slick-next {
    right: -50px;
    text-align: right;
}
.item.slick-slide {
    max-width: 700px;
    width: 100%;
    height: 400px;
    transition: transform .4s;
    position: relative; 
}
.slick-slide:after {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    transition: transform .4s;
}
.item.slick-slide {
    transform: scale(0.7)  translate(640px);
}
.item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
}
.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
    transform: scale(0.7)  translate(-640px);
    z-index: 5;
}
.item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
}
.item.slick-slide.slick-center {
    transform: scale(1);
    z-index: 30;
}
.slick-center:after {
    opacity: 0;
}