



body {
    background-color: #f4f4f4;
}
.main {
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 20px 85px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}
.logo {
    max-width: 68px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.searchAndAbout {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.aboutProject,
.fa-search {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    color: #8F68A8;
    cursor: pointer;
}
.search {
    display: none;
    width: 100%;
    height: 92px;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 50px;
    outline: none;
    padding-left: 50%;
}
.searchActive {
    display: block;
}
.none {
    display: none;
}
.fa-times {
    display: none;
    color: #8F68A8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 30px;
}
.tagsBlock {
    margin-top: 50px;
}
.tags {
    color: #8F68A8;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
}
.tags-list {
    max-width: 1300px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: none;
    margin-top: 50px;
}
.tag-active {
    display: flex;
}
.tagg {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: #8F68A8;
    margin-right: 10px;
}
.projectBlocks {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin: 100px 0;
}
.project-block {
    max-width: 330px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.project-name-main {
    color: #405089;
    max-width: 133px;
    width: 100%;
    margin: 0 auto 20px;
    white-space: nowrap;
}
.project-img {
    max-width: 330px;
    width: 100%;
    height: auto;
}
.image {
    width: 100%;
}
.author-main {
    color: #405089;
    margin-bottom: 15px;
    margin-left: 15px;
}
.dates {
    color: #BCBABA;
    margin-left: 15px;
}
.footer {
    max-width: 1600px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    padding-right: 166px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fa-phone-alt,
.fa-envelope,
.fa-map-marker-alt,
.fa-facebook-f {
    max-width: 44px;
    width: 100%;
    height: 43px;
    background-color: #8F68A8;
    padding: 12px;
    border-radius: 50%;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}
.fa-facebook-f,
.fa-map-marker-alt {
    padding-left: 15px;
}
.PhoneNumber,
.maail {
    color: #405089;
    display: none;
    margin-left: 10px;
}
.footeractive {
    display: block;
}

/* about Project */
.aboutSection {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 100px 0;
}
.aboutH3 {
    max-width: 540px;
    color: #8F68A8;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 25px
}
.aboutParagraph {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #405089;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
/* slideer */
.slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    max-width: 1000px;
    width: 100%;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    border: none;
    background: transparent;
    color: blue;
    font-family: monospace;
    font-size: 5rem;
    z-index: 300;
    outline: none;
}
.slick-prev {
    left: -50px;
    text-align: left;
}
.slick-next {
    right: -50px;
    text-align: right;
}
.item.slick-slide {
    max-width: 700px;
    width: 100%;
    height: 370px;
    transition: transform .4s;
    position: relative; 
}
.slick-slide:after {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    transition: transform .4s;
}
.item.slick-slide {
    transform: scale(0.7)  translate(640px);
}
.item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
}
.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
    transform: scale(0.7)  translate(-640px);
    z-index: 5;
}
.item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
}
.item.slick-slide.slick-center {
    transform: scale(1);
    z-index: 30;
}
.slick-center:after {
    opacity: 0;
}





/* project name style */

.main1{
    max-width: 1600px;
    width: 100%;
    margin:0 auto;
    padding: 20px 85px;
}
/* section 1 style */

.author-div {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin-top: 70px;
   
  
}
.author{
    text-align: center;
}
.icons-div{
    display: flex;
    justify-content: space-between;
    max-width: 117px;
    width: 100%;
    margin-top: 20px;
}
.icon1 {
    max-width: 32.64px;
    width: 100%;
    height: 32.64px;
}
.author-img{
    max-width: 62px;
    width: 100%;
    height: 62px;
    margin-bottom: 10px;
}
.author-name{
    font-size: 12px;
    color: #405089;
}


/* section 2 style */

.project-name{
    width: 100%;
    margin-top: 200px;
    margin:0;
    padding-top: 60px;
    
}
.ilustration{
    font-size: 12px;
    color: #8F68A8;
    max-width: 98px;
    width: 100%;
    height: 28px;
    box-shadow: 5px 4px 19px 1px #aaaaaa;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1.5%;
    left: 0;
}
.name-n{
    margin:0 auto;
    margin-top: 60px;
    max-width: 184px;
    width: 100%;
   
}
.project-n{
    font-size: 20px;
    color: #8F68A8;
}


/* section 3 style */

.img-div{
    background-image: url(../images/man.png);
  background-size: cover;
  background-repeat: no-repeat;
    margin:0 auto;
    margin-top: 40px;
    width: 53vw;
    height: 926px;
}
.paragraph-div{
  
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 40px;
    width: 52vw;
    left:0;
    padding-left:0;
}
.paragraph1{
    font-size: 18px;
    color: #273C75;
}

.main-container{
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
    text-align: center;
}

/* section 4 style */

.slider-div {
   max-width: 1000px;
   width: 100%;
   margin:0 auto;
   margin-top: 30px;
   margin-bottom: 70px;
}
.flex-div{
    display: flex;
    justify-content: space-between;
   position: relative;
}
.div-div {
    display: grid;
    grid-template-columns: 50% 50%;
}
/* slider style */
.container{
    width:50%;
    height:50%;
    border-radius:10px;
    margin:100px auto;
    position:absolute;
    overflow:hidden;
    font-weight:bolder;
    /* display: none; */
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .container.open-menu{
      display: block;
  }
  .window{
    width:100%;
    height:100%;
    overflow-x:scroll;
    display:flex;
    scroll-behavior:smooth;
  }
  .window img{
    width:100%;
    height:100%;
  }
  .window::-webkit-scrollbar{
    display:none;
    pointer-events:none;
  }
  .container .btn-bar{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    top:0px;
    left:0px;
    right:0px;
  }
  .btn-bar a{
    font-size:30px;
    color:#ccc;
    cursor:pointer;
    opacity:0.4;
  }
  .btn-bar a:hover{
    opacity:0.7;
    color:white;
  }
  .form{
    display:flex;
    flex-direction:column;
    max-width:300px;
    margin:-30px auto;
    text-align:center;
    justify-content:center;
    align-items:center;
  }
  .form label{
    padding:5px 10px;
    font-weight:bolder;
    background:#3333;
    border-radius:5px;
    margin-bottom:5px;
  }
  .form input{
    width:87%;
    height:23px;
    padding:5px 10px;
    outline:none;
    border:2px solid #1f2937;
  }
  .form input:focus{
    border-color:dodgerblue;
  }
  .form button{
    margin-top:5px;
    cursor:pointer;
    width:40%;
    height:32px;
    border:3px solid #1f2937;
    background:none;
    font-size:17px;
    font-weight:bolder;
    border-radius:5px;
    color:#1f2937;
    transition:all 0.3s;
  }
  .form button:hover{
    background:#1f2937;
    color:white;
  }
  .form button:focus{
    border-color:dodgerblue;
  }


.container{
    /* display: none */
    
}
  
.container.open-menu {
    display: block;
}



/* projectname2 style */

.divide-1{

    margin:0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 235px 235px 235px 235px; /*Make the grid smaller than the container*/
    grid-gap: 15px;
   
    padding: 10px;
}
.sec-1, .sec-2{
    display: flex;
    justify-content: space-between;
}
.sec-1{
    width: 59vw;
    margin-bottom: 30px;
}
.sec-2{
    width: 28vw;
}
.container-1{
    max-width: 235px;
    width: 100%;
    height: 335.37px;
    border: 2px solid #ece8e8;
    padding-top: 30px;
    
}
.container-2{
    max-width: 235px;
    width: 100%;
    height: 330.37px;
    border: 2px solid #ece8e8;
    padding-top: 22px;
    
}
.pic-1{
    max-width: 235px;
    width: 100%;
    margin-bottom: 10px;
}
.project-name3{
    font-size: 12px;
    color: #405089;
    margin-bottom: 8%;
   text-align: center;
}
.project-name4{
    font-size: 12px;
    color: #405089;
    
   text-align: center;
}
.author-n3 {
    font-size: 12px;
    color: #405089;
    padding-left: 12px;
    margin-bottom: 10px;
}
.date{
    font-size: 12px;
    color: #BCBABA;
    padding-left: 12px;
}

