@media (max-width:1370px){
    .flex-div{
        width: 100vw;
        height: auto;
    }
    .window{
        width: 53%;
        margin: 0 auto;
    }
    .container{
        width: 89vw;
        left: 44%;
    }
    .btn-bar{
        padding:0;
    }
}






@media (max-width:1100px) {
    .divide-1{
        flex-wrap: wrap;
        grid: none;
        display: flex;
    }
    .img-div{
        background-size: contain;
        height: 380px;
    }
    .paragraph-div{
        margin-top: 15px;
        left: 0;
        padding-left: 0;
        margin-bottom: 0;
        height: 250px;
    }
     .btn-bar{
         padding: 0;
     }
    .projectBlocks {
        grid-template-columns: auto auto;
    }
    .container{
        padding: 0;
        height: 80%;
    }
  
    .s-image{
        width: 26vw;
    }
    .div-div{
        height: 42%;
    }
        .flex-div{
            width: 100vw;
            height: 454px;
        }
    
}
@media (max-width:880px){
    .btn-bar{
        padding: 0;
    }
    .slider-div{
        flex-wrap: wrap;
    }
    .flex-div{
        flex-wrap: wrap;
        margin:0;
        max-width: 58vw;
    }
 
}
@media (max-width:740px){
    .projectBlocks {
        grid-template-columns: auto;
        justify-content: center;
    }
    .div-div{
        grid-template-columns: 100%;
        margin:0 auto;
    }
    .flex-div{
       margin:0 auto;
       margin-top: 20px;
       height: auto;
       margin-bottom: 110px;
       padding-top: 0;
    }
    .container{
        display: none;
    }
    .s-image{
width: 46vw;
    }
    .main{
        padding: 0 50px;
    }{
        margin-top: 0;
    }

}
@media (max-width:580px){
    .author-div{
        flex-direction: column;
        margin-top: 30px;
    }
    .icons-div{
        margin:0 auto;
        margin-top: 20px;
    }
    .searchAndAbout{
        max-width: 250px;
    }
    .main1{
        padding: 20px 50px;
    }
    .main{
        padding: 2px 50px;
    }
    .img-div{
        background-size: contain;
        height: 280px;
    }
    .paragraph-div{
        margin-top: 0;
        left: 0;
        padding-left: 0;
        width: 69vw;
    }
    .slider-div{
        margin:0 auto;
    }
    .project-name{
        padding-top:30px;
    }
    .name-n{
        margin-top:30px;
    }
    .paragraph1{
        font-size: 15px;
        width: 67vw;
    }
    .slider-div{
        margin-top: 55px;
    }
    .container{
        display: none;
    }
}
@media (max-width:450px){
    .logo{
        max-width: 50px;
        height: 55px;
        padding-top: 5px;

    }
    .img-img {
        max-width: 50px;
    }
    .aboutProject {
        padding: 19px 10px;
        font-size: 12px;
        
    }
    .searchAndAbout{
        max-width: 50vw;
    }
    .fa-search {
        max-width: 50px;
    }
    .img-div{
        background-size: contain;
        height: 220px;
    }
    .main1{
        padding: 20px 30px;
    }
    
    
}
@media (max-width:350px) {
    .main1{
        padding: 20px 40px;
    }
    .main{
        padding: 20px 50px;
    }
    .searchAndAbout{
        max-width: 54vw;
    }
    .slider-div{
        margin-top: 145px;
    }
}